{{ define "main" }}
<main>
    <article>
        <h1>{{ .Title }}</h1>
        <b><time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time></b>
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}

        <div>
            {{ .Content }}
        </div>

        <footer>
            <span style="display: flex; align-items: center; gap: 5px; font-size: 0.9em;">
                <svg width="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <a href="https://github.com/jakewright/jake-wright-net/blob/main/content/{{ .File.Dir }}{{ .File.LogicalName }}?plain=1">View this post's source on GitHub</a>
            </span>
        </footer>

        <section id="comments">
            <script src="https://giscus.app/client.js"
                    data-repo="jakewright/jake-wright-net"
                    data-repo-id="R_kgDOQwj7uA"
                    data-category="Comments"
                    data-category-id="DIC_kwDOQwj7uM4C0W7s"
                    data-term="{{ .Path }}"
                    data-strict="1"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="top"
                    data-theme="light"
                    data-lang="en"
                    crossorigin="anonymous"
                    async>
            </script>
        </section>

    </article>
</main>
{{ end }}
